<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welcome</h1>
    <p>
        wecome to test view
    </p>
    <% books.forEach(book=> { %>   
        <!-- = value garena vane code -->
        <%=book.name %>
            <% }) %>

    
</body>

</html>